* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
nav,
section,
container,
footer,
thumbnail {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 20px;
}

.col-md-4 {
    text-align: center;
    display: block;
}

.col-md-6 {
    text-align: center;
}

.thumbnail img {
    border-radius: 10px;
    height: 200px;
}

a:hover {
    text-decoration: none;
    color: red;
}
