body {
    padding: 70px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-inner .item .container {
    position: absolute;
    top: 5px;
    color: white;
}

.navbar-nav>li.active a {
    /* !important 強制跳過繼承 */
    background-color: burlywood !important;
}

.glyphicon {
    font-size: 50px;
    color: brown;
}
