* {
    box-sizing: border-box;
}

.iphone {
    border: 4px solid pink;
    width: 335px;
    height: 685px;
    position: relative;
    border-radius: 20px;
}

.screen {
    background-image: url(screen.JPG);
    width: 305px;
    height: 540px;
    position: absolute;
    top: 70px;
    left: 13px
}

.home {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 548px;
    left: 120px;
}

.point {
    border: 1px solid black;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 148px;
}

.line {
    border: 1px solid black;
    width: 50px;
    height: 3px;
    background-color: black;
    border-radius: 25%;
    position: absolute;
    top: 33px;
    left: 125px;
}

.webcan {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 28px;
    left: 100px;
}

.button1 {
    border: 2px solid pink;
    width: 3px;
    height: 25px;
    background-color: pink;
    position: absolute;
    border-radius: 30px;
    top: 75px;
    left: -6px;
}

.button2 {
    border: 2px solid pink;
    width: 3px;
    height: 50px;
    background-color: pink;
    position: absolute;
    border-radius: 30px;
    top: 125px;
    left: -6px;
}

.button3 {
    border: 2px solid pink;
    width: 3px;
    height: 50px;
    background-color: pink;
    position: absolute;
    border-radius: 30px;
    top: 190px;
    left: -6px;
}

.button4 {
    border: 2px solid pink;
    width: 3px;
    height: 50px;
    background-color: pink;
    border-radius: 30px;
    position: absolute;
    top: 125px;
    right: -6px;
}


