* {
    box-sizing: border-box;
}

.iphone {
    border: 1px solid black;
    width: 200px;
    height: 400px;
    position: relative;
    border-radius: 20px;
}

.screen {
    background-color: gray;
    border: 1px solid black;
    width: 180px;
    height: 300px;
    position: absolute;
    top: 35px;
    left: 9px
}

.circle {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 305px;
    left: 65px;
}

.point {
    border: 1px solid black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 10px;
    left: 90px;
}

.line {
    border: 1px solid black;
    width: 50px;
    height: 3px;
    background-color: black;
    border-radius: 25%;
    position: absolute;
    top: 20px;
    left: 70px;
}

.webcan {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 50px;
}

.button1 {
    border: 1px solid black;
    width: 3px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 50px;
    left: -3px;
}

.button2 {
    border: 1px solid black;
    width: 3px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: -3px;
}

.button3 {
    border: 1px solid black;
    width: 3px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 110px;
    left: -3px;
}

.button4 {
    border: 1px solid black;
    width: 3px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 50px;
    right: -3px;
}
